.btn-link {
    color: var(--apt-accent-1);
}

.btn-primary, .btn, .form-control {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

    .btn-primary:hover, .btn:hover, .btn-primary:active, .btn:active, .btn.show {
        color: var(--apt-accent-2) !important;
        background-color: var(--apt-accent-shade-1) !important;
        border-color: var(--apt-accent-1) !important;
        border-width: var(--apt-styling-border-width);
    }

    .btn-primary:focus, .btn:focus {
        color: var(--apt-accent-2);
        background-color: var(--apt-accent-shade-1);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        box-shadow: var(--apt-styling-unified-box-shadow);
    }

.btn-secondary {
    color: var(--apt-accent-2);
    background-color: var(--apt-accent-back);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
}

    .btn-secondary:hover, .btn-secondary:active {
        color: var(--apt-accent-2) !important;
        background-color: var(--apt-accent-shade-3) !important;
        border-color: var(--apt-accent-1) !important;
        border-width: var(--apt-styling-border-width);
    }

    .btn-secondary:focus {
        color: var(--apt-accent-2);
        background-color: var(--apt-accent-shade-3);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        box-shadow: var(--apt-styling-unified-box-shadow);
    }

.jumbotron {
    border: solid;
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: var(--apt-styling-border-radius) !important;
    background-color: var(--apt-accent-shade-4) !important;
    color: var(--apt-accent-2) !important;
}

.modal-header {
    border-bottom-color: var(--apt-accent-shade-5);
}

.modal-footer {
    border-top-color: var(--apt-accent-shade-5);
}

.col-lg-4 {
    padding-top: calc(var(--bs-gutter-x)* .5);
    padding-bottom: calc(var(--bs-gutter-x)* .5);
}

.accordion-header {
    border-radius: inherit !important;
}

.accordion-item:not(:first-of-type) {
    border-top-width: var(--apt-styling-border-width);
    border-top-style: solid;
    border-top-color: var(--apt-accent-1);
    margin-top: 10px;
}

.accordion {
    --bs-accordion-btn-icon: var(--apt-arrow-down-svg-url);
    --bs-accordion-btn-active-icon: var(--apt-arrow-up-svg-url);
}

.accordion-button {
    color: var(--apt-accent-1);
    background-color: var(--apt-accent-shade-3);
    border-color: var(--apt-accent-1);
    border-width: var(--apt-styling-border-width);
    border-radius: inherit !important;
    box-shadow: none;
}

    .accordion-button:not(.collapsed) {
        color: var(--apt-accent-1);
        background-color: var(--apt-accent-shade-3);
        border-color: var(--apt-accent-1);
        border-width: var(--apt-styling-border-width);
        border-radius: inherit !important;
        box-shadow: none;
    }

    .accordion-button:focus {
        z-index: unset;
        box-shadow: none;
    }

.label-primary {
    background-color: var(--apt-accent-1);
}

.d-sm-flex {
    flex-wrap: wrap;
}
