name: Prepare release (canary)

on:
  push:
    branches: [ "main", "x/oob/4.3.x", "x/oob/5.4.x", "x/oob/6.1.x" ]
  pull_request:
    branches: [ "main", "x/oob/4.3.x", "x/oob/5.4.x", "x/oob/6.1.x" ]
    
jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
          ref: ${{ github.ref }}
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: Release Asset Preparation
        run: make dbg-ci
      - name: Package Publication
        run: |
          dotnet nuget add source --username AptiviCEO --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/Aptivi/index.json"
          NUGET_APIKEY=${{ secrets.GITHUB_TOKEN }} ./tools/push.sh Debug github
