name: 'Sync with GL mirror'
on:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.repository }}
  cancel-in-progress: true

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'true'
          fetch-depth: 0
      - name: Add mirror auth info
        run: git remote add alternate https://AptiviCEO:${{ secrets.GL_APIKEY }}@gitlab.com/aptivi/main/$(echo "${{ github.repository }}" | cut -d "/" -f 2).git
      - name: Push to mirror
        run: git push alternate
